<!DOCTYPE html>
<html>
<head>
  <title></title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="navbar navbar-fixed-top">
    <div class="navbar-inner">
      <div class="container">
        <%= link_to "TreeBook", root_path, class: 'brand' %>
        <ul class="nav">
          <li><%= link_to "all entries", feed_path %></li>
        </ul>
        <ul class="nav pull-right">
          <% if user_signed_in? %>
            <li><%= link_to 'friends', user_friendships_path %></li>
            <li><%= link_to current_user.full_name, edit_user_registration_path %></li>
            <li><%= link_to "log out", logout_path %></li>
          <% else %>
            <li><%= link_to "register", register_path %></li>
            <li><%= link_to "log in", login_path %></li>
          <% end %>

        </ul>
      </div>
    </div>
  </div>
  <div class="container-fluid">
  <div class="row-fluid">
    <%= link_to "post a new entry", new_status_path, class: "btn btn-success" %>
    <div class="row">
      <div class="span3 bs-docs-sidebar">
        <ul class="nav nav-list bs-docs-sidenav">
         <section id="leftframe"><div class="page-header">
             
            </div></section>
         <section id="leftframe"><div class="page-header">
              <li><a href="#math">math</a></li>
            </div></section>
            <section id="leftframe"><div class="page-header">
                        <li>
          <div class="p">
          <a title="merve civelek" href="#" class="w ajax sf" datedata="2013-1011">merve civelek</a>
          </div></li>
            </div></section>
            <section id="leftframe"><div class="page-header">
              <li><a href="#moose">moose</a></li>
            </div></section>
            <section id="leftframe"><div class="page-header">
              <li><a href="#moon">moon</a></li>
            </div></section>
            <section id="leftframe"><div class="page-header">
              <li><a href="#mouse">mouse</a></li>
            </div></section>
            <section id="leftframe"><div class="page-header">
              <li><a href="#monalisa">monalisa</a></li>
            </div></section>
            <section id="leftframe"><div class="page-header">
              <li><a href="#marketing">marketing</a></li>
            </div></section>
         <section id="leftframe"><div class="page-header">
             <li><a href="#chemistry">chemistry</a></li>
            </div></section>
        <section id="leftframe"><div class="page-header">
              <li><a href="#physics">physics</a></li>
            </div></section>
            <section id="leftframe"><div class="page-header">
              <li><a href="#philophsy">philophsy</a></li>
            </div></section>
         <section id="leftframe"><div class="page-header">
          <li><a href="#literature">literature</a></li>
            </div></section>
        <section id="leftframe"><div class="page-header">
          <li><a href="#music">music</a></li>
            </div></section>
      </div>
    <div class="span9">
    <% flash.each do |type, message| %>
      <div class="alert <%= flash_class type %>">
        <button class="close" data-dismiss="alert">Ã—</button>
        <%= message %>
  </div>
      </div>
    <% end %>

    <%= yield %>
<div class="pagination pagination-right">
  <ul>
    <li class="active"><a href="#">&laquo;</a></li>
    <li class="active"><a href="#">1</a></li>
    <li class="active"><a href="#">2</a></li>
    <li class="active"><a href="#">3</a></li>
    <li class="active"><a href="#">4</a></li>
    <li class="active"><a href="#">»</a></li>
  </ul>
</div>
</body>
<div id="wrap" class="footer">
    <p>footer</p>
  </div>
</div>
</html>
